{
  "extends": ["eslint-config-airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "If": true,
    "For": true,
    "connect": true,
    "google": true,
    "FB": true
  },
  "settings": {
    "import/resolver": {
      "webpack": { "config": "./build/webpack.config.js" }
    }
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "no-console": 0,
    "no-shadow": 0,
    "semi": 0,
    "react/no-unused-prop-types": 0,
    "no-nested-ternary": 0,
    "max-len": ["error", 100],
    "jsx-a11y/media-has-caption": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.js", "**/stories.js", "webpack.config.js", ".storybook/*.js"]
      }
    ]
  },
  "plugins": ["react"]
}
